<h1>Create Snippets...</h1>

<form action="/snippet/create" method="post">
    <input type="text" name="snippetTitle">
    <textarea name="snippetBody"></textarea>
    <button type="submit">create</button>
</form>