<h1>Snippets</h1>

{{#each snippets }}
<div>
    <h2>{{title}}</h2>
    <a href="/snippet/view/{{id}}">View</a>
    <a href="/snippet/edit/{{id}}">edit</a>
    <a href="/snippet/delete/{{id}}">delete</a>
</div>
{{/each}}