<h1>Snippets</h1>

<div class="row">
{{#each snippets }}
<div class="card col-sm-6">
    <div class="card-body">
        <h2>{{title}}</h2>
        <p>By: <a href="/filter/user/{{createdBy}}">{{createdBy}}</a></p>
        <a class="btn btn-primary" href="/snippet/view/{{id}}">View</a>
    </div>
</div>
{{/each}}
</div>