<h1>Snippets</h1>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Created by</th>
    </tr>
{{#each snippets }}
<tr>
    <td>{{title}}</td>
    <td>{{createdBy}}</td>
    <td><a href="/snippet/view/{{id}}">View</a></td>
</tr>
{{/each}}
</table>
