.view {
    white-space: pre-wrap;
}

.flash {
    margin-top: 15px;
}

.filterInfo {
    font-size: 25px;
    margin-bottom: 5px;
}

.navbar {
    margin-bottom: 20px;
}

.home {
    margin-bottom: 20px;
}
